<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="http://localhost:1234/img/meofavicon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meo Backend</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <style>
    body {
        font-family: 'Nanum Gothic', sans-serif;
    }
    </style>
</head>
<body>
    <h1>Welcome to Meo Backend 😎</h1>
    
    <img src='http://localhost:1234/img/meologo.png'>

    <hr>
    <b>user</b>
    <ul>
        <li><b>GET /user</b></li>
        <li><b>GET /user/</b>{userID}</li>
        <li><b>POST /signup</b>&emsp;body:{unama, uemail, upassword}</li>
        <li><b>POST /login</b>&emsp;body:{uemail, upassword}</li>
        <li><b>PUT /update</b>&emsp;body:{unama, uemail, upassword, ufoto, ualamat, ukota, utelp, uid}</li>
    </ul>

    <hr>
    <b>car</b>
    <ul>
        <li><b>POST /car</b>&emsp;body:{uid, ctipe, cmodel, cseat, cth, cplat, cfoto, cinfo}</li>
        <li><b>GET /car/</b>{userID}</li>
    </ul>

    <hr>
    <b>image</b>
    <ul>
        <li><b>GET /img/</b>{imageName.extension}</li>
        <li><b>GET /profile/</b>{imageName.extension}</li>
        <li><b>POST /profile</b>&emsp;{upload file}</li>
    </ul>

</body>
</html>